.tas{

    background-image:url("OIP\ \(2\).jpeg");

}
    
    .a{
     text-align: center;
      font-style:italic;
      color:white;
    
      
    }
    .fa-user{
      color: aliceblue;
         
    }
    .tas{
      text-align: center;
    }
    h3{
    
    color: rgb(7, 7, 21);
    }